.games__container {
   width: 100%;
   display: grid;
   gap: 1vw;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1365px) {
   .games__container {
      grid-template-columns: 1fr 1fr;
   }
}
@media (max-width: 1024px) {
   .games__container {
      grid-template-columns: 1fr;
   }
}
.games__item {
   width: 100%;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
}
@media (hover) {
   .games__item:hover .games__hover {
      transform: scale(1);
      opacity: 1;
   }
   .games__item:hover .games__linkBtn {
      bottom: 5%;
   }
   .games__linkBtn:hover {
      color: #fff;
      box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
   }
}
@media (max-width: 1024px) {
   .games__item:hover .games__hover {
      transform: scale(1);
      opacity: 1;
   }
   .games__item:hover .games__linkBtn {
      bottom: 5%;
   }
   .games__linkBtn:hover {
      color: #fff;
      box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
   }
}
.games__hover {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   background: rgba(74, 118, 168, 0.75);
   transition: 0.3s;
   transform: scale(0);
   opacity: 0;
   padding: 30px 10px 60px 10px;
   font-family: sans-serif;
}
.games__title {
   text-transform: uppercase;
   margin: 0;
   font-size: 16px;
   font-weight: 600;
}
.games__description {
   margin: 10px auto;
   font-size: 14px;
}
.games__linkBtn {
   position: absolute;
   bottom: -50%;
   left: 50%;
   margin-left: -41px;
   background: #4a76a8;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   padding: 10px 20px;
   font-family: sans-serif;
   box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
   border-radius: 5px;
   transition: 0.5s;
   font-weight: 600;
   font-size: 16px;
}
.games__imgs {
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.games__img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
}

.games__linkBtn-active {
   bottom: 5%;
}
.games__hover-active {
   transform: scale(1);
   opacity: 1;
}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
   padding: 0;
}
