.menu__container {
   display: flex;
   position: absolute;
   width: calc(100% - 2vw);
   top: 10vh;
   left: 0;
}
.buttons__wrap {
   padding: 5px;
   border-radius: 10px;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-self: baseline;
   box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

.menu__button {
   border: none;
   background: #fff;
   width: 45px;
   height: 45px;
   overflow: hidden;
   cursor: pointer !important;
   padding: 0;
   margin: 3px;
   border-radius: 5px;
   transition: 0.3s;
   outline: none;
}
.menu__button:focus {
   background: #fff;
   outline: none;
}

.menu__button-active {
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
   background: rgba(0, 0, 0, 0.13);
}
#closeImg {
   background: rgba(213, 85, 0, 0.5);
}
.menu__img {
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: contain;
}
.line {
   width: 100%;
   height: 1px;
   background: #29abe2;
   margin: 3px 0;
}
.menu__wrap {
   display: flex;
   flex-direction: column;
}
.displayNone {
   display: none;
}
.posDown {
   position: fixed;
   top: unset;
   bottom: 1vh;
   animation: jumpButton 5s linear 2s infinite;
}
.gameModalWindow {
   background: #fff;
   width: 600px;
   margin: 0 3px;
   box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 0 10px 10px 10px;
}
@media (max-width: 688px) {
   .gameModalWindow {
      width: 90%;
   }
}
.iframeGamesMenu {
   width: 100%;
   height: calc(100% - 70px);
}
.modal__header {
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   padding: 10px 0;
   top: 0;
   background: #fff;
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   z-index: 1000;
}
.modal__title {
   font-family: sans-serif;
   text-align: center;
   text-transform: uppercase;
   margin: 10px auto;
   font-size: 24px;
   font-weight: 600;
}
@media (max-width: 1023px) {
   .modal__title {
      font-size: 18px;
      font-weight: 600;
   }
}
.modal__btn-close {
   width: 38px;
   height: 38px;
   font-size: 25px;
   border-radius: 5px;
   border: none;
   cursor: pointer !important;
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
   transition: 0.3s;
   line-height: 0;
   background: rgba(0, 0, 0, 0.13);
   color: #000;
   padding: 0;
   margin: 0;
   justify-self: flex-end;
   flex-shrink: 0;
}
.modal__btn-close:focus {
   background: rgba(0, 0, 0, 0.13);
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
   outline: none;
}
@media (hover) {
   .modal__btn-close:hover {
      transform: scale(1.1);
      background: rgba(0, 0, 0, 0.13);
      color: #000;
   }
   .menu__button:hover {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
      transform: scale(1.2);
      background: rgba(0, 0, 0, 0.13);
   }
}
.height {
   height: calc(730px - 10vh);
   overflow-y: auto;
}

@keyframes jumpButton {
   0% {
      bottom: 1vh;
   }
   3% {
      bottom: 3vh;
   }
   6% {
      bottom: 1vh;
   }
   9% {
      bottom: 3vh;
   }
   12% {
      bottom: 1vh;
   }
   15% {
      bottom: 3vh;
   }
   18% {
      bottom: 1vh;
   }
   100% {
      bottom: 1vh;
   }
}
